/* ========== Design tokens (CSS variables) ========== */
:root {
    --negative: #db3a34ff;
    --bg: #f562daff;
    --positive: #59c9a5ff;
    --secondary: #23395bff;
    --accent: #fffd98ff;
}

/* ========== Base resets and layout primitives ========== */
* {
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
    position: relative;
}

body {
    margin: 0;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, Arial;
    background: var(--bg);
    color: var(--fg);
}

/* Links */
a {
    color: var(--primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Buttons (global baseline – components can extend this) */
.btn {
    appearance: none;
    border: 0.6vh solid var(--secondary);
    color: var(--secondary);
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 6%;
    text-align: center;
    align-items: center;
    font-size: 1em;
}

.btn--on{
    background-color: var(--positive);
    cursor: none;
}

.btn--off{
    background-color: var(--negative);
    box-shadow: var(--secondary) 2vh 2vh;
}

.btn--off-yellow{
    background-color: var(--accent);
    box-shadow: var(--secondary) 0.5vh 0.5vh;
}

.btn:disabled {
    cursor: not-allowed;
}

#app {
    width: 100vh;
    height: 100vh;
    max-width: 100vh;
    max-height: 100vh;
    border: 2px var(--accent) solid;
    margin-top: 0;
    margin: auto;
}